@{
    ViewData["Title"] = $"Hồ sơ của {Model.Name}";

    string defaultAvatarPath = "/uploads/accounts/default-avatar.jpg";
}

<div class="container">
    <div class="row g-3">
        <div class="col-lg-4 ps-0">
            <div class="card border-0 shadow-sm rounded-4 overflow-hidden">
                <div class="card-body p-4">
                    <div class="text-center mb-2">
                        <img src="@(Model.Avatar ?? defaultAvatarPath)"
                             alt="Avatar" class="rounded-circle img-fluid mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                        <h4>
                            @Model.Name
                            @if (User.Identity!.IsAuthenticated)
                            {
                                <i class="fa-solid fa-circle-check text-primary ms-2"></i>
                            }
                        </h4>
                        <p class="text-muted">@@@Model.UserName</p>
                    </div>
                    @if (User.Identity!.Name != Model.UserName)
                    {
                        <div class="d-flex justify-content-center align-items-center" style="gap: 0.5rem;">
                            @if (Model.IsFriend)
                            {
                                <form asp-action="SendFriendRequest" asp-controller="Friend" asp-route-friendId="@Model.UserId" method="post">
                                    <button type="submit" class="btn btn-primary rounded-pill" title="Kết bạn">
                                        <i class="fa-solid fa-user"></i>
                                    </button>
                                </form>
                            }
                            else
                            {
                                @if (Model.IsSendRequest)
                                {
                                    <form asp-action="SendFriendRequest" asp-controller="Friend" asp-route-friendId="@Model.UserId" method="post">
                                        <button type="submit" class="btn btn-primary rounded-pill" title="Kết bạn">
                                            <i class="fa-solid fa-user-check"></i>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-action="SendFriendRequest" asp-controller="Friend" asp-route-friendId="@Model.UserId" method="post">
                                        <button type="submit" class="btn btn-primary rounded-pill" title="Kết bạn">
                                            <i class="fa-solid fa-user-plus"></i>
                                        </button>
                                    </form>
                                }
                            }
                            <a href="@Model.Website" target="_blank" class="btn btn-outline-primary rounded-pill" title="Nhắn tin">
                                <i class="fa-solid fa-comment"></i>
                            </a>
                        </div>
                    }


                    @if (!string.IsNullOrEmpty(Model.Email))
                    {
                        <div class="d-flex align-items-center mb-3">
                            <i class="fas fa-envelope text-primary me-3"></i>
                            <span>@Model.Email</span>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                    {
                        <div class="d-flex align-items-center mb-3">
                            <i class="fas fa-phone text-primary me-3"></i>
                            <span>@Model.PhoneNumber</span>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.Address))
                    {
                        <div class="d-flex align-items-center mb-3">
                            <i class="fas fa-map-marker-alt text-primary me-3"></i>
                            <span>@Model.Address</span>
                        </div>
                    }
                </div>
            </div>

            <div class="card border-0 shadow-sm rounded-4 mt-3">
                <div class="card-body p-4">
                    <h5 class="card-title mb-4">Liên kết mạng xã hội</h5>
                    <div class="d-flex flex-wrap gap-3">
                        @if (!string.IsNullOrEmpty(Model.Website))
                        {
                            <a href="@Model.Website" target="_blank" class="btn btn-outline-primary rounded-pill">
                                <i class="fas fa-globe me-2"></i>Website
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(Model.Github))
                        {
                            <a href="@Model.Github" target="_blank" class="btn btn-outline-dark rounded-pill">
                                <i class="fab fa-github me-2"></i>Github
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(Model.Twitter))
                        {
                            <a href="@Model.Twitter" target="_blank" class="btn btn-outline-info rounded-pill">
                                <i class="fab fa-twitter me-2"></i>Twitter
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(Model.Instagram))
                        {
                            <a href="@Model.Instagram" target="_blank" class="btn btn-outline-danger rounded-pill">
                                <i class="fab fa-instagram me-2"></i>Instagram
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(Model.Facebook))
                        {
                            <a href="@Model.Facebook" target="_blank" class="btn btn-outline-primary rounded-pill">
                                <i class="fab fa-facebook-f me-2"></i>Facebook
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="card border-0 shadow-sm rounded-4 mt-3">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-4">Danh sách bạn bè</h5>
                        <a 
                            asp-action ="Index"
                            asp-controller="Friend" 
                            class="text-primary text-decoration-none"
                        >
                            Xem tất cả
                        </a>
                    </div>
                    <div class="list-group">
                        @foreach(var user in Model.Users)
                        {
                            <a 
                               asp-action="Index" 
                               asp-controller="PublicProfile"
                               asp-route-username="@user.UserName"
                               class="list-group-item list-group-item-action"
                            >
                                <div class="d-flex align-items-center">
                                    <div class="avatar-placeholder me-3">
                                        <img src="@(user.Avatar ?? defaultAvatarPath)"
                                             alt="Alternate Text" 
                                            class="h-100 w-100 object-fit-cover rounded-circle" 
                                        />
                                    </div>
                                    <div>
                                        <h6 class="card-title mb-1">
                                            @user.Name
                                            <small class="fw-normal text-muted">@@@user.UserName</small>
                                        </h6>
                                        <small class="text-muted mb-0">
                                            <i class="far fa-envelope me-2 text-truncate"></i>@user.Email
                                        </small>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 pe-0">
            <div class="card border-0 shadow-sm rounded-4 mb-3">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-4">Bài viết gần đây</h5>
                        <a asp-action="Index"
                           asp-controller="Blogs"
                           class="text-primary text-decoration-none">
                            Xem tất cả
                        </a>
                    </div>
                    <div class="row row-cols-3 g-3">
                        @foreach (var blog in Model.RecentBlogs)
                        {
                            <a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id" class="text-decoration-none">
                                <div class="card h-100">
                                    <img src="@blog.CurrentThumbnailPath" class="card-img-top h-100" alt="@blog.Title">
                                    <div class="card-body">
                                        <h5 class="card-title text-truncate">@blog.Title</h5>
                                        <p class="card-text text-truncate">@blog.Description</p>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="card border-0 shadow-sm rounded-4">
                <div class="card-body p-4">
                    <h5 class="card-title mb-4">Hoạt động gần đây</h5>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <span>Bình luận</span>
                                <span class="text-primary">@Model.RecentActivities.CommentPercentage%</span>
                            </div>
                            <div class="progress rounded-pill" style="height: 8px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: @(Model.RecentActivities.CommentPercentage)%" aria-valuenow="@Model.RecentActivities.CommentPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <span>Thích</span>
                                <span class="text-primary">@Model.RecentActivities.LikePercentage%</span>
                            </div>
                            <div class="progress rounded-pill" style="height: 8px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: @(Model.RecentActivities.LikePercentage)%" aria-valuenow="@Model.RecentActivities.LikePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <span>Chia sẻ</span>
                                <span class="text-primary">@Model.RecentActivities.SharePercentage%</span>
                            </div>
                            <div class="progress rounded-pill" style="height: 8px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: @(Model.RecentActivities.SharePercentage)%" aria-valuenow="@Model.RecentActivities.SharePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <span>Theo dõi</span>
                                <span class="text-primary">@Model.RecentActivities.FollowPercentage%</span>
                            </div>
                            <div class="progress rounded-pill" style="height: 8px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: @(Model.RecentActivities.FollowPercentage)%" aria-valuenow="@Model.RecentActivities.FollowPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>
        .progress {
            background-color: #e9ecef;
        }

        .avatar-placeholder {
            width: 45px;
            height: 45px;
        }
    </style>
}